tbody td {
  text-align: center;
}

thead tr {
  font-size: 0.8rem;
  text-align: center;
}

.viewDataStyle {
  thead {
    background: #3a3e46;
    tr {
      font-size: 1rem;
      color: #fff;
    }
  }
}

.goBack {
  color: #0ca126;
  font-size: 1rem;
  font-weight: bolder;
}

.tableLbl {
  height: 30px;
  background: #34495e;
  margin-top: 20px;
  margin-bottom: 20px;
  span {
    color: #fff;
    font-weight: bolder;
    line-height: 30px;
  }
}

.viewDataStyle {
  height: 30px;
  background: #3a3e46;
  margin-top: 10px;
  //   margin-bottom: 20px;
  span {
    color: #fff;
    font-weight: bolder;
    line-height: 30px;
    font-size: 0.9rem;
  }
}

.viewDataCol3 {
  .col-2,
  .col-3 {
    background: #459f67;
    color: #fff;
    margin-top: 1px;
    margin-left: 15px;
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
  }
  .col-9,
  .col-10 {
    background: #dbe3e8;
    color: #000;
    margin-top: 1px;
    margin-right: -15px;
    margin-left: -30px;
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
  }
}

.viewDataProductsheader {
  .col-2,
  .col-3 {
    background: #3a3e46;
    color: #fff;
    margin-top: 1px;
    left: 15px;
    margin-right: -10px;
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
    text-align: center;
  }
}

.viewDataProductsbody {
  .col-2,
  .col-3 {
    background: #fff;
    color: #000;
    margin-top: -1px;
    left: 15px;
    margin-right: -10px;
    line-height: 30px;
    font-weight: bolder;
    font-size: 0.7rem;
    text-align: center;
    border: solid;
    border-width: 1px;
  }
}

.btnStyles {
  button {
    padding: 10px 20px;
    margin: 0px 15px;
  }

  .btn-success {
    background: #459f67;
  }

  .btn-danger {
    background: #fc1818;
  }
}
.spacing {
  height: 20px;
}

.navbar {
  background-color: #3a3e46 !important;
  padding: 0rem 1rem;
  line-height: 40px;
}

.navbar-nav .active > .nav-link {
  background: #676a70;
}

.nav-item {
  padding: 0rem 1rem;
}
