$topnav-background-color: #fff;
:host {
  .navbar {
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.26);
    padding: 0rem 1rem;
    left: 235px;
    background-color: $topnav-background-color;
    .navbar-brand {
      color: #4d4f5c;
      font-size: 2rem;
      font-weight: bolder;
    }
    .nav-item > a {
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
  .messages {
    width: 300px;
    .media {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }
      .small {
        margin: 0;
      }
      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}

.tableLbl {
  height: 40px;
  background: #1e3e88;
  margin-top: 70px;
  margin-bottom: -60px;
  span {
    color: #fff;
    font-weight: bolder;
    line-height: 30px;
  }
}
