<div [@routerTransition]>
  <div class="row">
    <div class="col-xl"><app-stat [bgClass]="'orange'" [count]="50000" [label]="'RETAILERS TOTAL SUBMISSIONS'"></app-stat></div>
    <div class="col-xl"><app-stat [bgClass]="'orange'" [count]="50" [label]="'RETAILERS PENDING'"></app-stat></div>
    <div class="col-xl"><app-stat [bgClass]="'orange'" [count]="30000" [label]="'RETAILERS TOTAL APPROVED'"></app-stat></div>
    <div class="col-xl"><app-stat [bgClass]="'orange'" [count]="20000" [label]="'RETAILERS TOTAL DENIED'"></app-stat></div>
    <div class="col-xl"><app-stat [bgClass]="'green'" [count]="50000" [label]="'GROWERS TOTAL SUBMISSIONS'"></app-stat></div>
    <div class="col-xl"><app-stat [bgClass]="'green'" [count]="50" [label]="'GROWERS PENDING'"></app-stat></div>
    <div class="col-xl"><app-stat [bgClass]="'green'" [count]="30000" [label]="'GROWERS TOTAL APPROVED'"></app-stat></div>
    <div class="col-xl"><app-stat [bgClass]="'green'" [count]="20000" [label]="'GROWERS TOTAL DENIED'"></app-stat></div>
  </div>

  <div class="tableLbl"><span>&nbsp;&nbsp;GROWERS SUBMISSION FOR VALIDATION</span></div>

  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>TRANSACTION ID</th>
        <th>MEMBER ID</th>
        <th>GROWERS NAME</th>
        <th>STORE NAME</th>
        <th>INVOICE #</th>
        <th>SUBMITTED DATE</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12345678</td>
        <td>1234-4567-9999-0000</td>
        <td>JIM MORRIS SARMIENTO</td>
        <td>MPC</td>
        <td>0097890</td>
        <td>11/19/2018</td>
        <td>VIEW</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

  <div class="spacing"></div>

  <div class="tableLbl"><span>&nbsp;&nbsp;RETAILER SUBMISSION FOR VALIDATION</span></div>

  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>TRANSACTION ID</th>
        <th>MEMBER ID</th>
        <th>GROWERS NAME</th>
        <th>STORE NAME</th>
        <th>INVOICE #</th>
        <th>SUBMITTED DATE</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12345678</td>
        <td>1234-4567-9999-0000</td>
        <td>JIM MORRIS SARMIENTO</td>
        <td>MPC</td>
        <td>0097890</td>
        <td>11/19/2018</td>
        <td>VIEW</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

  <div class="spacing"></div>
  <div class="spacing"></div>
  <div class="spacing"></div>
</div>
