@media (min-width: 1600px) { 
    h3 {
        font-size: 1rem;
        font-weight: bolder;
    }

    .card-footer {
        background: #45494e;
        text-align: center;
        span {
            font-size: .9rem;
        }
    }
    
    .card-header {
        padding-bottom: 0px;
        .row {
            .col {
                padding-right: 5px;
                padding-left: 5px;
            }
        }
    }
    
    .card {
        border: none;
        border-radius: 0rem;
    }
    
    .card.bg-orange {
        background-color: #e6873c;
    }
    
    .card.bg-green {
        background-color: #687e30;
    }
    
    p {
        font-size: 1rem;
        font-weight: bolder;
    }
}
@media (max-width: 1366px) { 
    h3 {
        font-size: .8rem;
        font-weight: bolder;
    }

    .card-footer {
        background: #45494e;
        text-align: center;
        span {
            font-size: 12px;
        }
    }
    
    .card-header {
        padding-bottom: 0px;
        .row {
            .col {
                padding-right: 5px;
                padding-left: 5px;
            }
        }
    }
    
    .card {
        border: none;
        border-radius: 0rem;
    }
    
    .card.bg-orange {
        background-color: #e6873c;
    }
    
    .card.bg-green {
        background-color: #687e30;
    }
    
    p {
        font-size: 20px;
        font-weight: bolder;
    }
}
