<div class="card text-white bg-{{bgClass}}">
    <div class="card-header">
        <div class="row">
            <div class="col col-xs text-center">
                <h3>{{label}}</h3>
                <p>{{count}}</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span>More Info</span>
        <!-- <a href="javascript:void(0)" class="float-right card-inverse">
            <span ><i class="fa fa-arrow-circle-right"></i></span>
        </a> -->
    </div>
</div>