<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
  <div class="text-center imgStyle"><img src="/assets/images/picture-default.png" class="rounded" /></div>
  <div class="labelName">
        <span> JIM MORRIS SARMIENTO </span><br>
        <span> LOG IN: 9:05 AM</span>
    </div>
  <div class="list-group">
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp; <span>{{ 'Dashboard' | translate }}</span>
    </a>
    <a [routerLink]="['/growers']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp; <span>{{ 'Growers Reports' | translate }}</span>
    </a>
    <a [routerLink]="['/retailer']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-table"></i>&nbsp; <span>{{ 'Retailer Reports' | translate }}</span>
    </a>
    <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-sign-out"></i>&nbsp; <span>{{ 'Sign Out' | translate }}</span>
    </a>
  </div>
  <!-- <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div> -->
</nav>
